$black: #1a1a1a;
$tomato: #ea4913;
$cerulean: #0565bb;
$white-two: #eee;
$kelley-green: #00833f;
$lavender: #c6b8f5;
$dark-brown: #110e03;
$bright-orange-two: #f50;
$mango: #ffb225;
$tomato-two: #e84c33;
$bluish: #2584b3;
$sand: #dabb5e;
$copper: #c73c27;
$mango-two: #ffb227;
$eggshell: #fffbd8;
$tomato-three: #e0412a;
$light-grey: #ced1c8;
$pinkish-grey: #d4c4ab;
$cloudy-blue: #b1d1cf;
$light-grey-two: #d8dad7;
$mid-blue: #245fc5;
$greyish: #a9a9a9;
$sun-yellow: #fcd32a;
$black-four: #333;
$dark: #1c2027;
$white-three: #f4f4f4;
$brownish-grey: #666;
$pumpkin-orange: #fa7b26;
$pinkish-grey-two: #ccc8c6;
$white-four: #f1f1f1;
$dark-maroon: #020001;
$black-three: #222;
$clear-blue: #157eff;
$bright-orange: #f96400;
$goldenrod: #fccb05;
$black-two: #111;

@font-face {
  font-family: Montserrat-Regular;
  src: url(/font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(/font/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(/font/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url(/font/Montserrat/Montserrat-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(/font/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: NotoSansCJK-DemiLight;
  src: url(/font/NotoSans/NotoSansCJK-DemiLight.ttc);
}
@font-face {
  font-family: NotoSansKR-Light;
  src: url(/font/NotoSans/NotoSansKR-Light.otf);
}
@font-face {
  font-family: NotoSansKR-Regular;
  src: url(/font/NotoSans/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: NotoSansKR-Medium;
  src: url(/font/NotoSans/NotoSansKR-Medium.otf);
}

.Text-Style-13 {
  font-family: Montserrat-ExtraBold;
  font-size: 171.5px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Text-Style-4 {
  font-family: NotoSansKR-Regular;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: left;
  color: $black-two;
}
.Text-Style-21 {
  font-family: Montserrat-ExtraBold;
  font-size: 59px;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  line-height: 8.75;
  letter-spacing: normal;
  text-align: left;
  color: $black-two;
}
.Text-Style-25 {
  font-family: Montserrat-ExtraBold;
  font-size: 55px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  text-align: center;
  color: $dark-brown;
}
.Text-Style-12 {
  font-family: Montserrat-ExtraBold;
  font-size: 50px;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.54;
  letter-spacing: normal;
  text-align: center;
  color: $black-two;
}
.Text-Style-5 {
  font-family: Montserrat-Bold;
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 5px;
  text-align: center;
  color: $bright-orange;
}
.Text-Style-3 {
  font-family: Montserrat-Bold;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 4.5px;
  text-align: left;
  color: $sun-yellow;
}
.Text-Style-23 {
  font-family: Montserrat-Bold;
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 4.5px;
  text-align: left;
  color: $dark-brown;
}
.Text-Style-2 {
  font-family: NotoSansKR-Medium;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: normal;
  text-align: left;
  color: $black-three;
}
.Text-Style-24 {
  font-family: Montserrat-ExtraBold;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Text-Style-17 {
  font-family: Montserrat-ExtraBold;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.83;
  letter-spacing: normal;
  text-align: left;
  color: $dark-brown;
}
.Text-Style-22 {
  font-family: Montserrat-ExtraBold;
  font-size: 25px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: $black-three;
}
.Text-Style-20 {
  font-family: Montserrat-ExtraBold;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}
.Text-Style {
  font-family: Montserrat-ExtraBold;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
}
.Text-Style-6 {
  font-family: Montserrat-Regular;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.Text-Style-16 {
  font-family: Montserrat-Regular;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: $bright-orange;
}
.Text-Style-14 {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: $black-three;
}
.Text-Style-18 {
  font-family: NotoSansKR-Light;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: $clear-blue;
}
.Text-Style-7 {
  font-family: NotoSansKR-Light;
  font-size: 17.5px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: right;
  color: #abacaf;
}
.Text-Style-8 {
  font-family: NotoSansKR-Light;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: $black-three;
}
.Text-Style-9 {
  font-family: NotoSansKR-Light;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $dark-brown;
}
.Text-Style-10 {
  font-family: NotoSansKR-Light;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $sun-yellow;
}
.Text-Style-15 {
  font-family: Montserrat-Bold;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: $black-two;
}
.Text-Style-11 {
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.Text-Style-26 {
  font-family: NotoSansKR-Light;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: $black-two;
}
